<div class="container">
<%= form_for(@paciente) do |f| %>
  <% if @paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% @paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form sytle="width:100%;">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <%= f.text_field :nombre, class: "form-control"  %>
  </div>
  <div class="form-group">
    <label for="ejemplo_password_3">Apellido</label>
          <%= f.text_field :apellido, class: "form-control"  %>
  </div>
  <div class="form-group">
    <label for="ejemplo_password_3">Email</label>
        <%= f.text_field :email, class: "form-control"  %>
  </div>
  <div class="form-group">
    <label for="ejemplo_password_3">Fecha de nacimiento</label>
        <%= f.text_field :fecha_nacimiento, class: "form-control"  %>
  </div>
  <div class="form-group">
    <label for="ejemplo_password_3">Dni</label>
     <%= f.number_field :dni, class: "form-control"  %>
  </div>
  <div class="form-group">
    <label for="ejemplo_email_3" >Telefono</label>
      <%= f.text_field :telefono, class: "form-control"  %>
  </div>
  <div class="form-group">
    <label for="ejemplo_email_3">Direccion</label>
      <%= f.text_field :direccion, class: "form-control"  %>
  </div>
  <div class="actions">
    <%= f.submit 'Aceptar', class: "btn btn-default" %>
  </div>
</form>
</div>
<% end %>
