
<div class="d-flex justify-content-around flex-row justify-content-around">
  <div class="p-2">
  <%= link_to user_path(current_user.id) do %>
	  <div class="paciente-box">
	  <i class="fa fa-address-card-o" aria-hidden="true"></i>
	  <span>Cambiar datos personales</span>
	  </div>
	  <% end %>
  </div>
  <div class="p-2">
  <%= link_to schedule_paciente_url do %>
  <div class="paciente-box">
	 <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
	  <span>Solicitar nuevo turno</span>
</div>
<% end %>
	  </div>
  <div class="p-2">
  <%= link_to paciente_historia_clinica_url(current_user.id) do %>
  <div class="paciente-box">
	 <i class="fa fa-user-md" aria-hidden="true"></i>
	  <span>Ver mi historial</span>
	  </div>
	<% end %>
	</div>
</div>




<br>
<br>
<div class="container-fluid">
<h4 style="text-align: center">Proximos turnos</h4>
<table id="proximos_turnos">
  <thead>
    <tr>
      <th scope="col">Comentarios</th>
      <th scope="col">Inicio</th>
      <th scope="col">Cancelar</th>
    </tr>
  </thead>
  <tbody>
  <% if @proximos_turnos %>
  <% @proximos_turnos.each do |evento| %>
      <tr>
      <td data-label="Comentarios"><%= evento.text %></td>
      <td data-label="Inicio"><%= evento.start_date.to_formatted_s(:short) %></td>
      <td data-label="Cancelar"><%= link_to evento, method: :delete, data: { confirm: 'Esta seguro que desea eliminar el turno?' } do %>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    <% end %></td>
    </tr>
	<% end %>
  <% end %>
  </tbody>
</table>
</div>
