<div class="show-body">


<p id="notice"><%= notice %></p>

<div class="show-title">
  <h4>Paciente</h4>
</div>


  <div class="show-child">
    <span class="show-label">Nombre:</span>
    <span class="show-key"><%= @paciente.name %></span>
  </div>
  <div class="show-child">
    <span class="show-label">Apellido:</span>
    <span class="show-key"><%= @paciente.lastname %></span>
  </div>
  <div class="show-child">
    <span class="show-label">Email:</span>
    <span class="show-key"><%= @paciente.email %></span>
  </div>
  <div class="show-child">
    <span class="show-label">Fecha de nacimiento:</span>
    <span class="show-key"><%= @paciente.age %></span>
  </div>
  <div class="show-child">
    <span class="show-label">Telefono:</span>
    <span class="show-key"><%= @paciente.phone %></span>
  </div>
    <div class="show-child">
    <span class="show-label">Direccion:</span>
    <span class="show-key"><%= @paciente.address %></span>
  </div>


<%= link_to 'Historia Clinica', paciente_historia_clinica_path(@paciente), class: "btn btn-success" %>
<%= link_to 'Editar', edit_paciente_path(@paciente), class: "btn btn-primary" %> 
<%= link_to 'Atras', pacientes_path, class: "btn btn-default" %>

</div>

</div>