<html>
<body>
<div class="menu_content">
<%= form_tag(menu_buscar_turnos_path, :method => "get", id: "search-form", :class => 'search_input') do %>
	<%= text_field_tag :search,  params[:search], placeholder: "Buscar turnos" %>
	<%= submit_tag "Buscar", :class => 'search_input_button' %>
<% end %>
<div id="turnos_resultados">
	<table>
		<thead>
			<tr>
				<th>DNI</th>
				<th>Nombre</th>			
				<th>Apellido</th>
				<th>email</th>	
				<th>Proximo Turno</th>
				<th>Equipo</th>	
				<th>Medico</th>			
			</tr>
		</thead>
		<tbody>


			<% if @eventos.present? %>
				<% @eventos.each do |evento| %>
					<tr class="<%= cycle('even', 'odd') -%>">
						<td><%= evento.dni %></td>
						<td><%= evento.nombre %></td>
						<td><%= evento.apellido %></td>
						<td><%= evento.email %></td>			
						<td><%= evento.start_date %></td>
						<td><%= evento.equipo %></td>
						<td><%= evento.medico %></td>			
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
</div>
</body>
<html>