  <h3>Proximos turnos</h3>

<table id="proximos_turnos">

  <thead>
    <tr>
      <th scope="col">Paciente</th>
      <th scope="col">Equipo</th>
      <th scope="col">Comentarios</th>
      <th scope="col">Inicio</th>
      <th scope="col">Fin</th>
      <th scope="col">Editar</th>
      <th scope="col">Confirmar</th>
      <th scope="col">Cancelar</th>
    </tr>
  </thead>
  <tbody>
  <% if @proximos_eventos %>
  <% @proximos_eventos.each do |evento| %>
      <tr>
      <td data-label="Paciente"><%= Paciente.find(evento.paciente).nombre %></td>
      <td data-label="Equipo"><%= Equipo.find(evento.equipo).nombre %></td>
      <td data-label="Comentarios"><%= evento.text %></td>
      <td data-label="Inicio"><%= evento.start_date.to_formatted_s(:short) %></td>
      <td data-label="Fin"><%= evento.end_date.to_formatted_s(:short) %></td>
      <td data-label="Editar"><%= link_to edit_event_path(evento) do %>
        
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      </td>
      <td data-label="Confirmar"><%= link_to  event_confirm_path(evento) do %>

      <i class="fa fa-check" aria-hidden="true"></i>
      <% end %>
      </td>
      <td data-label="Cancelar"><%= link_to evento, method: :delete, data: { confirm: 'Esta seguro que desea eliminar el turno?' } do %>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    <% end %></td>
    </tr>
	<% end %>
  <% end %>
  </tbody>
</table>




