
<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:80vh;'>
 <div class="dhx_cal_navline">
   <div class="dhx_cal_prev_button">&nbsp;</div>
   <div class="dhx_cal_next_button">&nbsp;</div>
   <div class="dhx_cal_today_button"></div>
   <div class="dhx_cal_date"></div>
   <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
   <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
   <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
 </div>
 <div class="dhx_cal_header">
 </div>
 <div class="dhx_cal_data">
 </div>
</div>

<script>
    scheduler.config.xml_date="%Y-%m-%d %H:%i";
    scheduler.init("scheduler_here");
    var dp = new dataProcessor("<%= db_action_path %>");
    scheduler.load("<%= data_path %>", "json");

    dp.init(scheduler);
    dp.setTransactionMode("GET", false);

    scheduler.locale.labels.button_new="nuevo";

scheduler.form_blocks.textarea.button_click=function(index,button,shead,sbody){
    alert("nuevo paciente");
};
    var medicos_opts = [];

    <% @medicos.each do |medico| %>
        var nuevo_medico = {}
        nuevo_medico.key = <%= medico.id %>
        nuevo_medico.label = '<%= medico.nombre %>'
        medicos_opts.push(nuevo_medico)
    <% end %>

    console.log(medicos_opts);
    

    var equipos1 = []

    <% @equipos_todos.each do |status| %>
        var nuevo_equipo = {}
        nuevo_equipo.key = <%= status.id %>
        nuevo_equipo.label = '<%= status.nombre %>'
        equipos1.push(nuevo_equipo)
    <% end %>

    console.log(equipos1);
    //console.log(equipos_opt);

    scheduler.config.lightbox.sections=[
      {name:"Paciente",height:20, width: 100, type:"textarea", map_to:"paciente", button:"new"},
      {name:"Medico",height:20, type:"select", options:medicos_opts, map_to:"medico"},
      {name:"Equipo",height:20, type:"select", options:equipos1, map_to:"equipo"},
      {name:"time",height:20, type: "time", map_to: "auto"},
      {name:"comentarios", height: 60, map_to:"text", type: "textarea", focus:true}
    ];
</script>