  <style type="text/css" >
    html, body {
      margin: 0px;
      padding: 0px;
      height: 100%;
      overflow: hidden;
    }

    #my_form {
      position: absolute;
      top: 100px;
      left: 200px;
      z-index: 10001;
      display: none;
      background-color: white;
      border: 2px outset gray;
      padding: 20px;
      font-family: Tahoma;
      font-size: 10pt;
    }

    #my_form label {
      width: 200px;
    }
  </style>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Buscar turnos</a>
      </h4>
    </div>
    
    <div id="collapse1" class="panel-collapse collapse">
      <%= form_tag schedule_path do %>
      <ul class="list-group">
        <p><%= text_field_tag 'search'  %></p>
      </ul>
      <div class="panel-footer"><%= submit_tag "enviar", id: "search_button" %></div>
      <% end %>
    </div>

  </div>
</div>

<div id="scheduler_here" class="dhx_cal_container" style='margin-top: 10vh; position: absolute; width:100%; height:900px;'>


 <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
   <div class="dhx_cal_tab" name="agenda_tab" style="right: 280px;"></div>
   <div class="dhx_cal_tab" name="equipos_tab" style="right:350px;"></div>
   <div class="dhx_cal_tab" name="medicos_tab" style="right:350px;"></div>
 </div>
 <div class="dhx_cal_header">
 </div>
 <div class="dhx_cal_data">
 </div>
</div>

<div id="overlay">
  <div>
    <%= render 'users/form' %>
    <a href='#' onclick="overlay()" class= "btn btn-default">Cerrar</a>
  </div>
</div>



<div id="my_form">
  <%= render 'events/new'  %>
</div>


<script>
    var data = <%= @events.html_safe %>

    scheduler.config.multi_day = true;
    scheduler.config.xml_date = "%Y-%m-%d %H:%i";
    scheduler.config.details_on_dblclick = true;
    scheduler.config.details_on_create = true;
    scheduler.init("scheduler_here");
    scheduler.config.show_loading = true;
    scheduler.parse(JSON.stringify(data), "json");
    scheduler.updateView();
    var dp = new dataProcessor("<%= db_action_path %>");
    dp.init(scheduler);
    dp.setTransactionMode("GET", false);
    dp.action_param = "dhx_editor_status";
    scheduler.config.first_hour = 8;
    scheduler.config.last_hour = 22;
    scheduler.config.time_step  = 30;




    // //Boton de agregar nuevo usuario
    // scheduler.locale.labels.button_new="nuevo";
    // scheduler.form_blocks.textarea.button_click=function(index,button,shead,sbody){
    // modal = document.getElementById('overlay');
    // modal.style.visibility = (modal.style.visibility == 'visible') ? "hidden" : "visible";
    // scheduler.hideCover();
    // };

    // function overlay(){
    //       modal = document.getElementById('overlay');
    // modal.style.visibility = (modal.style.visibility == 'visible') ? "hidden" : "visible";
    // };

    // //load data para los combobox
    var medicos_opts = [];

    <% @medicos.each do |medico| %>
        var nuevo_medico = {}
        nuevo_medico.key = <%= medico.id %>
        nuevo_medico.label = '<%= medico.nombre %>' + ' ' + '<%= medico.apellido %>'
        medicos_opts.push(nuevo_medico)
    <% end %>

    var equipos = []

    <% @equipos_todos.each do |equipo| %>
        var nuevo_equipo = {}
        nuevo_equipo.key = <%= equipo.id %>
        nuevo_equipo.label = '<%= equipo.nombre %>' 
        equipos.push(nuevo_equipo)
    <% end %>

    var pacientes = []
    <% @pacientes.each do |paciente| %>
      var nuevo_paciente = {}
      nuevo_paciente.key = <%= paciente.id %>
      nuevo_paciente.label = "<%= paciente.nombre + ' ' + paciente.apellido + ' ' + paciente.email %>"
      pacientes.push(nuevo_paciente) 
    <% end %>

    // // Modificar colores por equipo


    // // Tab de equipos
    //scheduler.locale.labels.agenda_tab = "Agenda";
    //scheduler.locale.labels.equipos_tab = "Equipo";
    //scheduler.locale.labels.medicos_tab = "Medico";


    // //equipos vista
    // scheduler.createTimelineView({
    //   name:"equipos", //Nombre de la vista
    //   x_unit: "minute", //Unidad de medida de la vista
    //   x_date: "%H:%i",  //
    //   x_step: 30, // Salta de 30 minutos en 30 minutos
    //   x_size: 24, // el numero de intervalos mostrados (en este caso 12 horas)
    //   x_start: 16, // Desde que hora arranca por steps, en este caso a las 8am
    //   x_lenght: 48, //la longitud del día, en este caso 48 steps de 30 minutos
    //   y_unit: equipos, //la info para llenar
    //   y_property: "equipo", //el campo que tiene en cuenta para llenar
    //   render: "bar"  //el modo de mostrar la vista
    // });

    //     scheduler.createTimelineView({
    //   name:"medicos",
    //   x_unit: "minute",
    //   x_date: "%H:%i",
    //   x_step: 30,
    //   x_size: 24,
    //   x_start: 16,
    //   x_lenght: 48,
    //   y_unit: medicos_opts,
    //   y_property: "medico",
    //   render: "bar"
    // });





    // //secciones del lightbox
    //scheduler.config.lightbox.sections=[
      //{ name:"Paciente", map_to:"paciente", options:pacientes, type:"combo",  image_path:"../dhtmlxCombo/", height:40, filtering:true},
      //{name:"Medico",height:20, type:"select", options:medicos_opts, map_to:"medico"},
      //{name:"Equipo",height:20, type:"select", options:equipos, map_to:"equipo"},
      //{name:"time",height:20, type: "time", map_to: "auto"},
      //{name:"estado", height: 20, type:"radio", map_to: "estado",
       //   options:[{key:1, label:"activo"},
       //           {key: 2, label:"completado"}, 
      //            {key: 3, label:"cancelado"}]},
     // {name:"comentarios", height: 60, map_to:"text", type: "textarea", focus:true, button: "new"}
      //{name:"recurring", height:115, type:"recurring", map_to:"rec_type", 
   // button:"recurring"},
    //];





    // scheduler.config.lightbox.sections=[
    // { name:"Paciente", map_to:"paciente", options:pacientes, type:"select", height:20},
    // { name:"Medico",height:20, type:"select", options:medicos_opts, map_to:"medico"},
    // {name:"Equipo",height:20, type:"select", options:equipos, map_to:"equipo"},
    // {name:"time",height:20, type: "time", map_to: "auto"},
    // {name:"description", height:100, map_to:"text", type:"textarea" , focus:true}
    // ];

  //scheduler.attachEvent("onClick", function (id, e){
 //   scheduler.showLightbox(id);
 //  return true;
  //});





 
var html = function(id) { return document.getElementById(id); }; //just a helper

    scheduler.showLightbox = function(id) {
      var ev = scheduler.getEvent(id);
      console.log(id);
      scheduler.startLightbox(id, html("my_form"));
    };


    function save_form() {
      var ev = scheduler.getEvent(scheduler.getState().lightbox_id);
      ev.text = html("description").value;
      ev.custom1 = html("custom1").value;
      ev.custom2 = html("custom2").value;

      scheduler.endLightbox(true, html("my_form"));
    }

    function close_form() {
      scheduler.endLightbox(false, html("my_form"));
    }

    function delete_event() {
      var event_id = scheduler.getState().lightbox_id;
      scheduler.endLightbox(false, html("my_form"));
      scheduler.deleteEvent(event_id);
    }


</script>
