<div class="menu_equipos">
<p id="notice"><%= notice %></p>

<h1>Equipos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Color</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipos.each do |equipo| %>
      <tr class="<%= cycle('even', 'odd') -%>">
        <td><%= equipo.nombre %></td>
        <td><%= equipo.descripcion %></td>
        <td><div class="equipo_color" style="width: 20px; height:20px;background-color:<%= equipo.color %>;"></div></td>
        <td><%= equipo.activo %></td>
        <td><%= link_to 'Mostrar', equipo %></td>
        <td><%= link_to 'Editar', edit_equipo_path(equipo) %></td>
        <td><%= link_to 'Eliminar', equipo, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Equipo', new_equipo_path, :class => "scaffold_links" %>
</div>