
<div class="menu_equipos">
<p id="notice"><%= notice %></p>




<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Editar equipos</h3></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">

          </div>
         </div>
        <br>
         <div class="table-responsive">
          <table class="table table-hover">
            <thead style="color: white; background-color:rgba(30,20,20, 0.7);">
              <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Color</th>
                <th>Activo</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody style="color: black">
              <% @equipos.each do |equipo| %>
                  <td><%= equipo.nombre %></td>
                  <td><%= equipo.descripcion %></td>
                  <td><div class="equipo_color" style="margin: 0 35%; width: 20px; height:20px;background-color:<%= equipo.color %>;"></div></td>
                  <td><%= equipo.activo %></td>
                  <td>
                    <%= link_to edit_equipo_path(equipo), class: "btn btn-default" do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to equipo, method: :delete, data: { confirm: 'Esta seguro que desea eliminar el registro ' + equipo.nombre + '?' }, class: "btn btn-danger" do %>
                      <span class="glyphicon glyphicon-remove"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>


<%= link_to 'Agregar Equipo', new_equipo_path, class: "btn btn-default pull-right" %>
</div>
</div>
