<!DOCTYPE html>
<html>
<head>
  <title>BgEstetica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'dhtmlxscheduler_flat', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler_editors', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'dhtmlxcombo', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxcombo', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler_agenda_view', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler_units', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler_timeline', 'data-turbolinks-track' => true %>
  <style><%= yield :stylesheets; %></style>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default  navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BG</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Tratamientos</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Contacto</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a href="#">Equipos</a></li>
            <li><a href="#">Medicos</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Pacientes</a></li>
            <li><a href="#">Turnos</a></li>
            <li><a href="#">Perfiles</a></li>
            </ul>
        </li>
      </ul>
      <p class="navbar-text navbar-right">
      	<% if current_user %>
      		Bienvenido:  <%= current_user.email %>
      		<%= link_to "Desconectarse", log_out_path  %>
      	<% else %>
      		<%= link_to "Registro", sign_up_path  %> or
      		<%= link_to "Conectarse", log_in_path %>
      	<% end %>
        </p>
    </div>
</nav>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
</body>
</html>
