<!DOCTYPE html>
<html>
<head>
  <title>BgEstetica</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "dhtmlxscheduler" %>
<%= javascript_include_tag 'dhtmlxscheduler_limit' %>
<%= javascript_include_tag 'dhtmlxscheduler_timeline' %>
<%= javascript_include_tag 'dhtmlxscheduler_readonly' %>


</head>
<body>
  <nav class="navbar navbar-expand-md fixed-top navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">BG</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home/schedule_paciente">Turnos</a>
        </li>
        <% if current_user && current_user.is_admin %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/equipos">Equipos</a>
            <a class="dropdown-item" href="/medicos">Medicos</a>
            <a class="dropdown-item" href="/users/edit_multiple">Usuarios</a>
            <a class="dropdown-item" href="/pacientes">Pacientes</a>
            <a class="dropdown-item" ref="/menu/buscar_turnos">Turnos</a>
            <a class="dropdown-item" href="#">Perfiles</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/medico_index">Mi cuenta</a>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/paciente_inicio">Mi cuenta</a>
        </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
        <li class="nav-item">
        <p class="navbar-text">Bienvenido:  <%= current_user.name + ' ' + current_user.lastname %>
        </p></li>
         <a class="nav-link" href="/log_out">Desconectarse</a>
        <% else %>
        <a class="nav-link" href="/sign_up">Registro</a> or
        <a class="nav-link" href="/log_in">Conectarse</a>
        <% end %>
      </ul>

    </div>
  </nav>
        <span class="flash-message">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </span>
  <%= yield %>
</body>
</html>
