<!DOCTYPE html>
<html>
<head>
  <title>BgEstetica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'dhtmlxscheduler_flat', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler_editors', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'dhtmlxcombo', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxcombo', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler_agenda_view', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler_units', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dhtmlxscheduler_timeline', 'data-turbolinks-track' => true %>
  <style><%= yield :stylesheets; %></style>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <a href="#"><img src=""/></a>
  <div class="user_nav_login">
	<% if current_user %>
		Bienvenido:  <%= current_user.email %>
		<%= link_to "Desconectarse", log_out_path %>
	<% else %>
		<%= link_to "Registro", sign_up_path %> or
		<%= link_to "Conectarse", log_in_path %>
	<% end %>
</div>
</div>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
</body>
</html>
